<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="user.picture"/>
    <ion-card-content>
      <ion-card-title>
        Welcome {{user.name}}!
      </ion-card-title>
      <p>
        Your email is: {{user.email}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="doGoogleLogout()">Logout</button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item-group>
      <ion-item-divider light>Event Details</ion-item-divider>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="calendarEvent.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" [(ngModel)]="calendarEvent.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text" [(ngModel)]="calendarEvent.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="calendarEvent.startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="hh:mm:a" pickerFormat="hh:mm:a" [(ngModel)]="calendarEvent.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="calendarEvent.endDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime displayFormat="hh:mm:a" pickerFormat="hh:mm:a" [(ngModel)]="calendarEvent.endTime"></ion-datetime>
      </ion-item>

    </ion-item-group>
  </ion-list>
  <button ion-button block (click)="createEvent()">Send Google Calendar Invite</button>

</ion-content>
